doctype html
html
	head
		title="Raspberry Pi LCD output"
		script(src='/lcdoutput.js')
		script(src='/socket.io/socket.io.js')
	body
		.controls
			| Text:
			input#text(style='width:350px;')
			input#send(type='button', value='send')
